
//  *
//  *   Project Name: "sacredgeometrysites"
//  *   Organization: VIVENTE
//  *   Built on 2024.08.16
//  *   Contributor(s): Aigars Kokins
//  *
//  *   GLOBAL Fonts [stylesFonts.scss]
//  *

// Public Sans
@font-face {
  font-family: 'PublicSansRegular';
  src: url('@assets/Fonts/Public_Sans/PublicSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PublicSansThin';
  src: url('@assets/Fonts/Public_Sans/PublicSans-Thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

// Mulish
@font-face {
  font-family: 'MulishLight';
  src: url('../Fonts/Mulish/static/Mulish-Light.ttf') format('ttf');
}

// Gilroy
@font-face {
  font-family: 'GilroyMedium';
  src: url('../Fonts/gilroy/Gilroy-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'GilroyRegular';
  src: url('../Fonts/gilroy/Gilroy-Regular.ttf') format('ttf');
}

// Roboto
@font-face {
  font-family: 'RobotoRegular';
  src: url('../Fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../Fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}
