
//  *
//  *   Project Name: "Sacred Geometry Sites"
//  *   Organization: VIVENTE
//  *   Built on 2024.08.16
//  *   Contributor(s): Aigars Kokins
//  *
//  *   GLOBAL Typography -- Sign In component
//  *   version: 2.0.0
//  *

// SIGN IN
.T-signin-title {
    font-family: 'ArialRegular', 'RobotoRegular', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
    font-weight: 400;
    color: var(--c-auth-T-Title);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
.T-signin-email{
    font-family: 'ArialRegular', 'RobotoRegular', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    font-weight: 400;
    color: var(--c-auth-T-Title);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
.T-signin-input  {
    font-family: 'ArialRegular', 'RobotoRegular', sans-serif;
    font-size: 0.96rem;
    line-height: 1.1rem;
    letter-spacing: normal;
    font-weight: 400;
    color: var(--c-auth-T-msg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.T-signin-msg, .T-pwd_tooltip  {
    font-family: 'ArialRegular', 'RobotoRegular', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    font-weight: 200;
    color: var(--c-auth-T-msg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
.T-proceed-btn{
    font-family: 'ArialRegular', 'RobotoRegular', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
    font-weight: 200;
    color: var(--c-auth-T-proceed-btn-txt);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
.T-SignIn_superscript {
    font-family: 'ArialRegular', 'RobotoRegular', sans-serif;
    font-size: 0.83rem;
    line-height: 1.2rem;
    letter-spacing: 0.02rem;
    font-weight: 200;
    color: var(--c-auth-T-superscript);
    opacity: 0.6;
}
.T-SignIn-forgot, .T-forgot-msg {
    font-family: 'ArialRegular', 'RobotoRegular', sans-serif;
    font-size: 0.85rem;
    line-height: 1.2rem;
    letter-spacing: normal;
    font-weight: 400;
    color: var(--c-auth-T-msg);
    opacity: 0.9;
}

.T-SignIn-forgot:hover{
    color: var(--vivente-icon-lines);
    opacity: 1;
}
