
@import '@style/mixin.scss';

html, body            {
  overflow-x: hidden;
  overflow-y: auto !important;
}

$include: 600px;
$svg_form_size: 350px;
$svg_form_size_small: 250px;
$webgl_size: 700px;
$webgl_size_small: 350px;
$maxImgWidth: 900px;

.b-cnn                {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%; min-width: 100%; max-width: 100%;
  padding-left: 40px;
  padding-right: 60px;
  //border: 3px dashed blue;

  @include for-size($include) {
    padding-left: 0;
    padding-right: 0;
  }}


//  MENU buttons
.m-cnn                {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 15px;
  padding-left: 25px;
  height: 25px;
  margin-bottom: 25px;
}
  .m-items            {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .m-items2           {
    margin-left: 20px;
  }
  .m-btn              {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    overflow: hidden !important;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid transparent;
    opacity: 0.5;
  }
  .m-btn:hover        {
    border-bottom: 1px solid var(--light);
  }
  .m-btn-active       {
    opacity: 1;
  }

//  OBJECTS
.o-cnn                {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%; min-width: 100%; max-width: 100%;
  min-height: $svg_form_size;
  margin-bottom: 25px;
  @include for-size($include) {
    min-height: $svg_form_size_small;
  }}

  .o-svg-cnn          {
    width: $svg_form_size;
    height: $svg_form_size;
    margin-left: 40px;
    @include for-size($include) {
      margin-left: 40px;
      width: $svg_form_size_small;
      height: $svg_form_size_small;
  }}
    .svg-static       {
      user-select:none;
      overflow:hidden;
    }
    .svg-static-st1   {
      fill:none;
      stroke: var(--svg-object-color); //#252633;//#5B5B5B;
      stroke-width:1;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }

  .o-3d-cnn           {
    width: $webgl_size;
    height: $webgl_size;
    margin-left: 40px;
    @include for-size($include) {
      margin-left: 40px;
      width: $webgl_size_small;
      height: $webgl_size_small;
    }}


  .o-image-cnn        {
    width: 760px;
    opacity: 1;
    @include for-size($include) {
      width: 480px;
      padding-left: 20px;
      opacity: 1;
    }}

    .cls_iframe-cnn{
      border: none;
      overflow: hidden;

    }

  .o-image            {
    max-width: 100%;
    max-height: 100%;
  }

.o-img-switch-cnn   {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 10px;
  }
  .o-img-switch-ul    {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    align-content: space-between;}
  .o-img-switch-li    {
    padding-left: 10px;}
  .o-img-switch-btn   {
    height: 20px; min-height: 20px; max-height: 20px;
    width: 20px; min-width: 20px; max-width: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden !important;
    cursor: pointer;
  }

  .o-map-cnn          {
    display: flex;
    flex-direction: column;
    width: 760px;
    height: 500px;
    @include for-size($include) {
      width: 480px;
      height: 350px;
      padding-left: 20px;
    }}
    .gps-cnn          {
      margin-left: auto;
      padding-top: 10px;
      padding-right: 20px;
    }
    .gps              {
      text-decoration: none;
    }


.email-frame{
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}
