
$dropMargin: 600px;

html, body {
  overflow-x: hidden;
  overflow-y: auto !important;
}
.LP-Layout{
  height: 100vh; min-height: 100vh; max-height: 100vh;
  width: 100vw; min-width: 100vw; max-width: 100vw;
  //border: 7px dashed #090a1c;
}
.LPb{
  overflow: visible;
  left: 0;
  top: var(--V-h-height);
  background-color: var(--C-background-color);
  //border: 5px dotted #1e208a;
}
.b-cnn                {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%; min-width: 100%; max-width: 100%;
  //border: 5px groove #6bfafa;

  @media (max-width: $dropMargin) {
    margin-left: 0;
    margin-right: 0;
  }

}
