
//  *
//  *   Project Name: VIVENTE Front-end
//  *   Vue 3 + Typescript + SCSS + Vite
//  *   Built on 2024.02.14
//  *   Contributor(s): Aigars Kokins 
//  *	 
//  *   GLOBAL Typography -- Landing Page component
//  *   version: 2
//  *

//<header> TITLE
.T-LPh-Title{
    // font-family: 'DMSansExtraBold', 'DMSansExtraBoldItalic', 'SegoeUIBold', 'InterRegular', 'Open Sans', 'Segoe UI', sans-serif;
    font-family: 'GilroyMedium', 'DMSansExtraBoldItalic', 'SegoeUIBold', 'InterRegular', 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 2.0rem;
    line-height: 1.7em;
    letter-spacing: 0.1em; 
    font-weight: 600; 
    //color: transparent;
    color: var(--LP-T-h_Title);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    
}
//<header> Sign In
.T-h-signin{
    font-family: 'BitterMedium', 'BitterRegular', 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3em;
    letter-spacing: normal; 
    font-weight: 400; 
    color: var(--LP-C-h_icont_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
.T-LPh-menu-buttn{
    font-family: 'BitterMedium', 'BitterRegular', 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.1em;
    letter-spacing: normal; 
    font-weight: 400; 
    color: var(--LP-C-h_icont_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;

}

//<body>//<h2>
.T-LP-h2 {
    font-family: 'GilroyRegular', 'GilroyMedium', 'SegoeUIRegular', 'BitterRegular', 'Open Sans', sans-serif;
    font-size: 2.2rem;
    line-height: 1.3em;
    letter-spacing: normal; 
    font-weight: 600; 
    color: var(--LP-T-h2b);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

//<body>//<p>
.T-LPb-p{
    font-family: 'SourceSerifProRegular', 'PublicSansRegular', 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    letter-spacing: normal; 
    font-weight: 400;
    color: var(--LP-T-p1);
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

//<footer>//<p>
.T-LPf-el {
    font-family: 'InterRegular', 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 0.88rem;
    line-height: 1.7em;
    letter-spacing: normal; 
    font-weight: 500; 
    color: var(--LP-T-p);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
