
//  *
//  *   Project Name: "Sacred Geometry Sites"
//  *   Organization: VIVENTE
//  *   Built on 2024.08.16
//  *   Contributor(s): Aigars Kokins
//  *
//  *   GLOBAL Fonts [stylesFonts.scss]
//  *

// Public Sans
@font-face {
  font-family: 'PublicSansRegular';
  src: url('../fonts/Public_Sans/PublicSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PublicSansThin';
  src: url('../fonts/Public_Sans/PublicSans-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Mulish
@font-face {
  font-family: 'MulishLight';
  src: url('../fonts/Mulish/static/Mulish-Light.ttf') format('truetype');
}

// Gilroy
@font-face {
  font-family: 'GilroyMedium';
  src: url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GilroyRegular';
  src: url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}

// Roboto
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

// ARIAL
@font-face {
  font-family: 'ArialRegular';
  src: url('../fonts/Arial/ARIAL.ttf') format('truetype');
}

// Inter
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont.ttf') format('truetype');
}

// Georgia
@font-face {
  font-family: 'Georgia-Regular';
  src: url('../fonts/Georgia/georgia.ttf') format('truetype');

}

























