
//  *
//  *   Project Name: "Vides Formas"
//  *   Organization: VIVENTE
//  *   Vue + Typescript + SCSS + Vite
//  *   Built on 2024.07.16
//  *   Contributor(s): Aigars Kokins
//  *
//  *   GLOBAL Mixins [mixin.scss]
//  *

//  auxiliary lines
// $AL-top <- input value for top position
@mixin AuxL_Horizontal($AL-top) { top: $AL-top; z-index: 1500; position: absolute; min-width: var(--V-screen-width); border-bottom: 1px dashed rgb(6, 85, 175);}
@mixin AuxL_H($AL-top) { top: $AL-top; z-index: 1500; position: absolute; min-width: var(--V-screen-width); border-bottom: 1px dashed rgb(226, 129, 18);}
@mixin AuxL_HorizontalColor($AL-top, $AL-color) { top: $AL-top; z-index: 1500; position: absolute; min-width: var(--V-screen-width); border-bottom: 1px dashed $AL-color;}
@mixin AuxL_Vertical_R($AL-left) { right: $AL-left; z-index: 1500; position: absolute; min-height:  var(--V-screen-height); border-right: 1px dashed rgb(77, 226, 77);}


$max-width: var(--M-max-width);
$max-height: var(--M-max-height);

  @mixin for-size($max-width) {
      @media (max-width: $max-width) {
        @content;
      }
  @media (min-width: #{$max-width + 1}px) {
    display: none;
  }
}

@mixin for-height-size($max-height) {
  @media (max-height: $max-height) {
    @content;
  }
  @media (min-height: #{$max-height + 1}px) {
    display: none;
  }
}
