
//  *   ts :
//  *
//  *   Project Name: "Vides Formas"
//  *   Organization: VIVENTE
//  *   Vue + Typescript + SCSS + Vite
//  *   Built on 2024.06.29
//  *   Contributor(s): Aigars Kokins
//  *
//  *   GLOBAL Styles - Dark Theme
//  * 

:root[data-theme="ThemeDark"]{
    
    // GLOBAL
    --C-background-color: #25292f;
    --C-background-line: #444c56;

    --vivente-icon-lines: #23313b;
    --vivente-icon-circe: transparent;
    --vivente-icon-grp: rgba(0, 0, 0, 0);
    --vivente-icon-grp-hover: #220f5f;

    --C-scrollbar-thumb:hwb(216 78% 25%);
    --C-scrollbar-thumb-border: hwb(216 78% 25%);
    --C-scrollbar-thumb-hover: hwb(216 78% 30%);
    --C-scrollbar-thumb-hover-border: hwb(216 78% 30%);
    --C-scrollbar-track: hwb(0 71% 29% / 0.5);
    
    // Landing Page//<header>
    --LP-T-h_Title: #9aa0a6;
    --LP-C-h_line: #444c56;
    --LP-C-h_icont_bg: #9aa0a6;
    --LP-C-h_icont_bg-hover: #9daab8;

    // Landing Page//<body>
    --LP-T-h2: #1a2a30;
    --LP-T-h2b: #cdd9e5;
    --LP-T-p1: #768390;

    // Landing Page//<footer>
    --C-ui-f-bg: #f1f2f3;
    --LP-T-p: #768390;
    --LP-T-p-hover: #576069;

    // SIGNIN && LOGIN
    --SignIn-T-Title: #212124;
    --SignIn-T-msg: #646469;
    --SignIn-T-next-btn-txt: #7a7a7a;
    --SignIn-T-next-btn-hover: #23313b;
    --SignIn--C-input-border: #747984;
    --C-ui-SignIn-btn-hover: #f5f5f5;
    --C-ui-btn-bg-active: #ececec;
    --C-ui-btn-shadow: #d2d2d2;
    --C-ui-btn-shadow-active: rgb(180, 180, 180);
    --C-T--SignIn-VIVENTEStock: rgba(66, 66, 72, 0.7);
    --C-T--CreateAccount: rgb(255, 255, 255);
    --C--login-bg: rgb(255, 255, 255);
    --C-ui-proceed-btn-bg: rgb(134, 236, 113);
    --C-ui-proceed-btn-line: rgb(60,60,60);
    --C-spinner-fill:rgb(60,60,60);

    // workspace
    --C-app-bg:rgb(255, 255, 255); 
    --C-app-bg2:#f1f1f2; 
    --C-app-h-bg: hwb(214 8% 81%);
    --C-T-app-h-search-input: hwb(214 13% 76%);
    --C-T-app-h-search-input-focuss:#f1f1f2;
    --C-T-app-h-search-line: hwb(214 26% 89%);
    --C-app-h-bttn:hwb(217 8% 78%);
    --C-app-h-bg-shadow: #0f182679;
    --C-app-h-bg-shadowB: hwb(217 6% 85% / 0.15);
    --C-T-app-h-lines:hwb(217 18% 72%);//#e0d8d0;
    --C-T-app-h-linesB:hwb(217 18% 72%); //#e0d8d06b;
    --C-app-h-svg:#a1a19a;
    --C-app-h-svg-hover:#4e4e48;
    --C-app-h-svgB:#919088;
    --T-app-h-title:#ecebe2;
    --C-ui-footer-bg: rgb(240,240,240);
    --C-ui-footer-LineA: rgb(190,190,190);
    --C-ui-ab-LineA: rgb(190,190,190);
    --C-app-h-mA-bg: rgb(217, 233, 255);
    --C-app-h-mA-bg-cheked: rgba(156, 226, 166, 0.571);
    --C-T-app-h-mA-bg-cheked: rgb(0,0,0);
    --C-T-app-h-mA-text: hwb(216 8% 81%);
    --C-T-app-h-search-lines:#f9f9f9;
    --C-T-app-h-search-line-active:rgb(20, 113, 219);
    --C-app-icons-hover: hwb(217 18% 72%);
    --C-app-icons-hover-v: rgb(226, 241, 255);
    --C-app-icons-hover-g: rgb(226, 241, 255);
    --C-ui-Line-1: #e0d8d0;//rgb(218, 220, 224);
    --C-ui-Line-1-hover: rgb(175, 175, 175);
    --C-ui-box-shadow: rgb(230, 232, 238);
    --C-sepv-active: rgb(175, 175, 175);
    
    // HEADER
    --C-h-u-bg: rgb(241, 242, 243);
    --C-T-h-1:rgba(33,33,38,.70);
    --C-T-h-SearchInput: #3c4043;
    --C-T-h-SearchSVG: rgba(33,33,38);
    --C-T-h-Search-text: rgb(30, 30, 212);
    --C-lb-bg: rgb(66, 133, 244);
    --C-hs-svg:rgb(164, 164, 164);
        
    // VIVENTE STOCK - Product File Tree
    --C-rs-ft-h-border: #edecec;
    --C-rs-ft-h-border-color: #e6e6e6;
    --C-rs-ft-h-Category-label: #1f1f22;
    --C-rs-ft-h-filter-Line: rgb(218, 220, 224);
    --C-rs-ft-Line: #e6e6e6;
    --C-rs-ft-b-active-row:rgba(242, 241, 247, 0.4);
    --V-C-rs-ft-text-color: #1c1c20;
    --C-rsFTg-bg: #fff;
    --C-rsFTg-bg-hover: rgb(239, 239, 239);
    --T-rsFTg-bg-hover: rgb(198,198,198);
    --T-rsFTg-bg-Flash: rgb(52, 114, 146);
    --C-rsFTg-border-a: #e6e6e6;
    --T-rsFTg:#1f1f22;
    --T-rsFTg-add: #5c5c5d;

    // SETTINGS
    --C-ui-settings-icons-Line-1:rgb(164, 164, 164);
    --C-ui-settings-icons-Line-2:rgb(100, 100, 100);
    --C-T-h-ui-settings-hover:#3c4043;
    --C-T-h-ui-settings-hover-bg:rgb(231, 231, 231);
    --C-b-ui-DOC-tr-Line-1: rgba(3, 12, 31, 0.13);
    --T-set-title: rgb(118, 131, 144);
    --C-set--btn-hover: rgb(204, 241, 235);
    --C-set--btn-active: rgb(145, 234, 225);

    // TABS
    --C-tab-Line-color: rgb(20, 113, 219);
    --C-tab-bg: rgb(238, 238, 238);

    // ACTIVITY BAR
    --C-ui-AB-bg: rgb(241, 242, 243);
    --C-ui-AB-icon-hover:rgb(237, 237, 237);
    --C-ui-AB-icon-hover-b:rgb(209, 212, 221);
    --C-ui-AB-fill: rgba(33,33,38,.70);
    --C-ui-AB-fill-v: rgb(152, 152, 154);
    --C-ui-AB-fill-g: rgb(35, 35, 36);
    --C-ui-AB-fill-v-hover:rgba(33,33,38,.70);
    --C-ui-AB-Line-a: rgba(33,33,38,.70);
    --C-ui-EXP-Line1: rgb(180, 180, 180);
    
    // FOOTER
    --C-f-ui-bg: rgb(241, 242, 243);
    --C-f-ui-icon: rgba(33,33,38,.70);

    //  EXPLORER
    --C-exp-bg:rgb(241, 242, 243);
    --C-exp-svg-line: rgb(208, 211, 215);
    --C-exp-icon-a: rgb(167, 143, 198);
    --C-exp-icon-b: rgb(228, 157, 157);
    --C-exp-icon-c: rgb(144, 144, 174);
    --C-exp-icon-d: rgb(217, 217, 218);
    --C-exp-icon-e: rgb(180, 181, 180);
    --C-exp-hover: rgb(233, 233, 233);
    
    // INVOICE
    --C-inv-cust-h-A: hwb(0 100% 0%);
    --C-inv-cust-h-B: hwb(0 100% 0%);
    --C-inv-cust-h-C: hwb(0 100% 0%);
    --C-inv-cust-h-A2: #ffffff;
    --C-inv-Title-arrows: #383dd3;//#3688e7;//#e84f57;//
    --T-inv-data-field-nr: #142030;
    --C-inv-bg: #fafafa;
    --C-inv-addNew-bg: rgb(250, 250, 250);
    --C-inv-bg-hover: rgba(214, 224, 229, 0.2);
    --C-inv-bg-active: rgba(96, 80, 38, 0.2);
    --C-inv-input-bg: rgb(250, 250, 250);
    --C-inv-bookings-bg: rgba(214, 224, 229, 0.2);
    --C-inv-line-active: rgb(0, 0, 0);
    --C-inv-line:rgb(191, 191, 191);
    --C-inv-line-hover: rgb(137, 140, 142, 0.5);
    --C-inv-btn-hover: rgba(198, 225, 243, 0.5);
    --C-inv-line2:#11131433;
    --C-inv-line3: rgb(208, 212, 229);
    --C-inv-svg-fill: #7f7f7f;//#5a5d5c;
    --C-inv-svg-fillB: #444746;
    --C-inv-svg-fillC: #6589c7;
    --C-inv-bttn: hwb(0 100% 0%);
    --C-inv-bttn-line: hwb(217 8% 78%);
    --C-inv-add-top-bg: rgb(247, 248, 249);
    --C-inv-add-top-bg-ramp: rgba(222, 223, 255, 0.2);
    --C-inv-data-bg: #fafafa;
    --C-inv-data-border: hwb(214 8% 81% / 0.2);//rgba(153, 153, 153, 0.517); //---cust frame
    --C-inv-svg-LineA: #737373;// rgb(6, 16, 30);
    --C-inv-cust-editBorder: rgb(178, 178, 178);
    --C-inv-cust-editField: rgb(255, 253, 248);
    --C-inv-cust-editFieldBorder: rgb(222, 220, 213);
    --C-inv-linear-gradientA: rgba(160, 202, 227, 0.2);
    --C-inv-linear-gradientB: rgba(219, 131, 166, 0.2);
    --C-inv-linear-gradientC: rgba(183, 157, 234, 0.2);
    --T-inv-Title: #141f30;//rgb(43,93,157);
    --T-inv-grp-name: #141f30;//rgb(43,93,157); //rgb(50, 51, 56);
    --T-inv-data-field: rgb(95, 63, 63);
    --T-inv-info-field: rgb(122, 127, 130);
    --T-inv-bttn1: rgb(0, 0, 0);
    --T-inv-total: #e84f57;
    
    --C-ui-ICON-Line-1: rgba(33,33,38,.70);
    --C-T-b-DOC-td4: rgba(33,33,38,.70);  
    --C-RSp-active-Line-2: rgba(3, 12, 31, 0.4);
}
