
//  *
//  *   Project Name: "sacredgeometrysites"
//  *   Organization: VIVENTE
//  *   Built on 2024.08.16
//  *   Contributor(s): Aigars Kokins
//  *
//  *   GLOBAL Styles - Light Theme
//  *

:root[data-theme="ThemeLight"] {

    --C-background-color: #ffffff; //#e1e1e1;//#fff;
    --C-background-line: #dadce0;

    --C-scrollbar-thumb: hwb(216 78% 25%);
    --C-scrollbar-thumb-border: hwb(216 78% 25%);
    --C-scrollbar-thumb-hover: hwb(216 78% 30%);
    --C-scrollbar-thumb-hover-border: hwb(216 78% 30%);
    --C-scrollbar-track: hwb(0 71% 29% / 0.5);

    --svg-object-color: #252633;
    --switchText: #5b5b67;

    // Landing Page//<header>
    --LP-T-h_Title: #57657e; //#5c82aa;
    --LP-C-h_line: #dadce0;
    --LP-C-h_icont_bg: #5f6368;
    --LP-C-h_icont_bg-hover: #9daab8;

    // Landing Page//<body>
    --LP-T-h2: #1a2a30;
    --LP-T-h2b: #2c3e50;
    --LP-T-p1: #646469;

    // Landing Page//<footer>
    --C-ui-f-bg: #f1f2f3;
    --LP-T-p: #98989f;
    --LP-T-p-hover: #4f4f52;

    --light: #212123;

}
